body {
    margin-top: 0px;
    margin-bottom: 0px;
}
.selected-message {
    background: #F0F0F0;
}
#messagepane {
    max-width: 900px;
    min-width: 300px;
    margin-bottom: 8px;
    overflow: auto;
    margin-left: 64px;
}
div.message-cell {
    padding-top: 4px;
    padding-bottom: 40px;
    border-top: 1px solid #AAAAAA;
    clear: both;
    min-height: 108px;
    position: relative;
}
div.message-cell > h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
div.message-cell > .date {
    float: right;
    font-size: 80%;
    vertical-align:text-bottom;
    padding-right: 8px;
}
div.message-toolbar {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.message-control {
    margin-left: 4px;
}
img.avatar {
    float: left;
    margin-right: 4px;
}
div#toolbar {
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 30px;
}
.caption {
    font-size: 50%;
}
.toolbar-button {
    text-align: center;
    display: inline-block;
}
#user-dialog {
    max-width: 600px;
}
#mappane {
    min-height: 100px;
}
#mappane > div#notepad {
    margin-left: 64px;
    margin-right: 64px;
    background: white;
    overflow: hidden;
}
#mappane > div.ui-resizable-handle {
    background-color: #DDD;
    /* height: 10px; */
    background-image: 
        url('../images/resizev.png');
        /*-moz-linear-gradient(
            center bottom,
            rgb(245,245,245) 0%,
            rgb(173,173,173) 40%,
            rgb(237,237,237) 100%
        );*/
    background-repeat: no-repeat;
    background-position: center top;
    z-index:1000;
}

div.error {
    font-size: -2;
    background-color: #FFFFF2;
    color: #DC143C;
    border: 1px solid #DC143C;
    padding: 2px;
    margin: 2px;
}

#board-banner {
    margin-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
}

#thread-list {
    margin-top: 16px;
    padding-left: 64px;
    padding-right: 64px;
}

#thread-table {
    width: 100%;
}

#thread-list-toolbar {
    text-align: right;
    margin-bottom: 16px;
}

button img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border: 1px solid #666666;
    color: #363636;
    background: #f6f6f6;
    text-align:left;
}
caption {
    text-align: center;
    font: bold 16px arial, helvetica, sans-serif;
    background: transparent;
    padding:6px 4px 8px 0px;
    color: #CC00FF;
    text-transform: uppercase;
}
thead, tfoot {
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* ie */
    background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* opera */
    text-align:left;
    height:30px;
}
thead th, tfoot th {
    padding:5px;
}
table a {
    color: #333333;
    text-decoration:none;
}
table a:hover {
    text-decoration:underline;
}
tr.odd {
    background: #f1f1f1;
}
tbody th, tbody td {
    padding:5px;
}
th.subject {
    min-width: 400px;
    max-width: 800px;
    width: 50%;
}

input.full-width {
    width: 100%;
}

#post-dialogue {
    min-height: 330;
}

